# dependencies used in all environments

# Non-Python dependencies
# sudo apt-get install imagemagick libexempi3 libxml2-dev python-dev pmount udisks
# Elasticsearch 2.4.3

                          # LICENSE  PyPy

b2sdk>=1.14.1,<1.15.0     # MIT      y
beautifulsoup4==4.8.2     # MIT
click==7.1.1              # BSD      y
deepdiff==3.3.0           # MIT      y
envoy==0.0.3              # MIT             TODO replace!
gitpython==3.1.1          # BSD
Jinja2>=3.0.0,<3.1.0      # BSD
natsort==7.0.1            # MIT
psutil==5.7.0             # BSD      y
python-dateutil==2.8.1    # BSD
python-xmp-toolkit==2.0.1 # New BSD
requests==2.25.1          # Apache   y

git+https://github.com/denshoproject/densho-elastictools.git

# development

bpython
mypy
nose
pytest
pytest-cov
