# dependencies used in all environments

# Non-Python dependencies
# sudo apt-get install imagemagick libexempi3 libxml2-dev python-dev pmount udisks
# Elasticsearch 2.4.3

                          # LICENSE  PyPy

beautifulsoup4>=4.12,<4.13 # MIT
b2sdk>=1.14.1,<1.15.0     # MIT      y
click>=8.1.0,<8.2         # BSD      y
deepdiff>=3.3.0,<4.0      # MIT      y
envoy==0.0.3              # MIT             TODO replace!
gitpython>=3.1.0,<3.2     # BSD
humanize==4.10.0          # MIT
Jinja2>=3.1.4,<3.1.5      # BSD
natsort>=8.1.0,<8.2       # MIT
psutil>=5.9.1,<6.0        # BSD      y
python-dateutil==2.8.1    # BSD
python-xmp-toolkit==2.0.1 # New BSD
requests>=2.32.0,<2.33    # Apache   y

elastictools @ git+https://github.com/denshoproject/densho-elastictools.git@v1.0.2

# development

bpython
mypy
nose
pytest
pytest-cov
